* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background: linear-gradient(lightblue,rgb(110, 186, 188));
    position: relative;
    overflow: hidden;
}   


#card>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#bottom{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 20px 15px;
    background: linear-gradient(transparent,rgb(110, 186, 188));

}
#bottom img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.btm1{
    align-items: center;
    gap: 5px;
    display: flex;
}

.btm1 h3{
    font-size: 13px;
    color: white;
    font-weight: 500;
}
h5{
    color: red;

}
.btm2 button{
    padding: 15px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

button:active{
    scale: 0.95;
}

h5{
    font-size: 20px;
}