* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

button{
    position: absolute;
    top: 50%;
    padding: 13px 20px;
    left: 50%;
    z-index: 99;

    transform: translate(-50%,-50%);
}

img{
    height: 100px;
    position: absolute;
}